html, body {
    margin: 0px;
    font-size: 12px;
}

.scrollableTabContent {
	padding-top: 4px;
	height: 100%;
	overflow:auto;
	width: 100%;
}

.mainLogo {
	cursor: pointer; 
	position: fixed;
	right: 2px;
	top: 0px;
	z-index: 15;
	height: 36px;
}



#loginButtons {
	position: absolute;
	top: 0px;
	right: 190px;
}
.centerize {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}
.booleanResult {
	 width: 60px;
    margin: 0 auto;
    
}
.booleanResult img {
	margin-bottom: -7px;
	margin-right: 4px;
}
.topLabel {
	display: block;
}

