
.queryHeader {
	position:fixed;
	width: 100%;
	background: white;
	z-index: 10;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 30px;
}
.queryHeader li {
	float:left;
	margin-left: 4px;
	height: 27px;
	position: relative;
	
}

.queryHeader li.rightAlignQueryHeader  {
	float:right;
	margin-left: 4px;
	position: relative;
	
}

.configRequestButton {
	width: 170px;
/* 	position: absolute; */
	bottom: 0px;
	top: 0px;
}

.configRequestButton .ui-button-text {
	padding-left: 15px;
	padding-right: 15px;
}
.configRequestButton .ui-button-icon-secondary {
	/*position 'icon down'*/
	margin-top: -9px;
}

.configRequestButton .gearIcon {
	top: 50%;
	margin-top: -7px;
	position:absolute;
	height: 14px;
	width: 14px;
	display: block;
	background-image: url('/images/nounproject/gear.png');
}
.configRequestButton.ui-state-hover .gearIcon, .configRequestButton.ui-state-focus .gearIcon {
	background-image: url('/images/nounproject/gear_white.png');
}

#queryHeaderBackground {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: white;
	z-index: 9;
}