.queryResults{
	margin-top: 3px;
}

.outputSelector .ui-button-text-only .ui-button-text {
	padding: .2em 1em;
}
.outputSelector {
	z-index: 5;
	position:relative;
	float:left;
}

.dataTables_wrapper {
	top: -25px;
	z-index: 4;
}

.queryResultsContent .CodeMirror {
	margin-top: 4px;
}

.ui-state-disabled.outputSelector {
	opacity: 0.55;
}

td a.snorqlLink {
	color:blue;
}
#externalLink {
	cursor:pointer;
	position:absolute;
	top: 0px;
	right: 4px;
	height: 18px;
	width: 18px;
}
.regularValue {
	
}