
.queryHeader {
	width: 100%;
	background: white;
	z-index: 10;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 30px;
}
.queryHeader li {
	float:left;
	margin-left: 4px;
	height: 27px;
	position: relative;
}

.queryHeader li.rightAlignQueryHeader  {
	float:right;
	margin-left: 4px;
	position: relative;
}

#queryHeaderBackground {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: white;
	z-index: 9;
}