{
	"checkSelenium": false,
	"mailSettings": {
		"username": "",
		"password": "",
		"from": "",
		"fromName": "",
		"to":""
	},
	"shellSettings": {
		"maxTimeoutInMin": "20",
		"trashDir": "/var/lib/tomcat7/.trash"
	},
	"deployTargets": {
		"master": [
			{
				"src": "/home/lrd900/gitCode/yasgui_master",
				"target": "/usr/share/tomcat7/webapps/yasgui",
				"overwriteConfig" : {
				
				}
			}
		
		],
		"dev": [
			{
				"checkSeleniumHost": "http://host",
				"src": "/home/lrd900/gitCode/yasgui_dev",
				"target": "/usr/share/tomcat7/webapps/yasgui-dev",
				"overwriteConfig" : {
				
				}
			},
			{
				"src": "/home/lrd900/gitCode/yasgui_dev2",
				"target": "/usr/share/tomcat7/webapps/yasgui-dev2",
				"compileDetailed": true,
				"overwriteConfig" : {
				
				}
			}
		]
	}
}
