
.ui-autocomplete {
	z-index: 30;
}

.custom-combobox {
vertical-align: middle;
}
.custom-combobox-input {
	margin-right: 1px;
	padding-left: 5px;
	height: 20px;
/* 	line-height:100%; */
	width: 300px; 
}
.custom-combobox-toggle {
	width: 20px;
	vertical-align: bottom;
	padding: 1px 0px;
/* 	margin: 4px 0px; */
/* 	border: 2px; */
 	margin-bottom: 4px;
/* 	padding-top: 2px; */
	height: 20px;
}
.ui-autocomplete .ui-menu-item a{
	display:block;
	height: 100%;
}
.custom-combobox .ui-button {
	font-size: 1.5em;
}
.custom-combobox .ui-button-icon-primary {
	top: 50%;
	left: 50%;
	margin-left: -9px;
	margin-top: -9px;
}


.ui-menu-item {
	cursor: pointer;
}

.ui-autocomplete .ui-menu-item:hover {
	background-color: #3399ff ;
	border-color: #3399ff;
	color: #ffffff;
	font-weight: strong;
}
.ui-autocomplete .ui-state-active {
	background-color: inherit;
	border-color: inherit;
	color: inherit;
	font-weight: inherit;
}
.ui-autocomplete .ui-state-focus {
	background-color: inherit;
	border-color: inherit;
	color: inherit;
	font-weight: inherit;
}
.endpointComboLabel {
	float:left;
	width: 150px;
    word-wrap:break-word;
}
.endpointComboValue {
	float:left;
	width: 150px;
	word-wrap:break-word;
}
.endpointComboDelete {
	float:left;
	width: 24px;
}
.endpointComboDesc {
	width: 150px;
}
.endpointComboDelete img{
	height: 20px;
	width: 20px;
}
.endpointComboDesc img{
	height: 20px;
	width: 20px;
}