@font-face {
	font-family: 'Audiowide';
	src: url('/fonts/audiowide-regular-webfont.eot');
	src: url('/fonts/audiowide-regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('/fonts/audiowide-regular-webfont.woff') format('woff'),
		url('/fonts/audiowide-regular-webfont.ttf') format('truetype'),
		url('/fonts/audiowide-regular-webfont.svg#audiowideregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}