html, body {
/*     height: 100%; */
    margin: 0px;
    font-size: 12px;
/*     overflow:hidden; */
}
/* select { */
/* 	border: 1px solid #000; */
/* 	font-size: 14px; */
/* 	color: #fff; */
/* 	background: #444; */
/* 	padding: 5px; */
/* } */
/* .yasguiLogo { */
/* 	font-family: 'Audiowide'; */
/* 	font-size: 40px; */
/* 	cursor: pointer; */
/* } */

.scrollableTabContent {
	padding-top: 4px;
	height: 100%;
	overflow:auto;
	width: 100%;
}

.mainLogo {
	cursor: pointer; 
	position: fixed;
	right: 2px;
	top: 0px;
	z-index: 15;
	height: 36px;
}


.configRequestButton{
	top: 0px; 
	bottom: 0px;
	margin: auto;
}
.queryHeader li .configRequestButton span{
	padding-top: 3px;
	padding-bottom: 3px;
}


#loginButtons {
	position: absolute;
	top: 0px;
	right: 190px;
}
.centerize {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}
.booleanResult {
	 width: 60px;
    margin: 0 auto;
    
}
.booleanResult img {
	margin-bottom: -7px;
	margin-right: 4px;
}
.topLabel {
	display: block;
}

