html, body {
/*     height: 100%; */
    margin: 0px;
    font-size: 12px;
/*     overflow:hidden; */
}
/* select { */
/* 	border: 1px solid #000; */
/* 	font-size: 14px; */
/* 	color: #fff; */
/* 	background: #444; */
/* 	padding: 5px; */
/* } */
/* .yasguiLogo { */
/* 	font-family: 'Audiowide'; */
/* 	font-size: 40px; */
/* 	cursor: pointer; */
/* } */
#queryHeaderBackground {
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: white;
	z-index: 9;
}
.scrollableTabContent {
	padding-top: 4px;
	height: 100%;
	overflow:auto
	width: 100%;
}
.ui-icon.queryIcon, .ui-icon.queryIconInvalid, .ui-icon.queryIconBusy {
	width: 48px;
    height: 48px;
}
.ui-icon.queryIconBusy {
	width: 48px;
    height: 48px;
}
.ui-icon.queryIcon {
		width: 48px;
    height: 48px;
}
/* .ui-widget-content .ui-state-focus .queryButton { */
/* background-color: #d4d4d4; */
/* } */
.ui-button .ui-icon.queryIcon {
	background-image: url('/images/nounproject/play.png');
/*     background-image: url(your-path-to-normal-image-file.png); */

}
.ui-button .ui-icon.queryIconBusy {
	background-image: url('/images/other/ajax_loader.gif');
/*     background-image: url(your-path-to-normal-image-file.png); */

}
.ui-button .ui-icon.queryIconInvalid {
	background-image: url('/images/nounproject/playError.png');
/*     background-image: url(your-path-to-normal-image-file.png); */

}
.ui-button.ui-state-hover .ui-icon.queryIcon {
/* 	background-image: url('/images/nounproject/play_white.png'); */
/*     background-image: url(your-path-to-highlighted-image-file.png); */
}

.mainLogo {
	cursor: pointer; 
	position: fixed;
	right: 2px;
	top: 0px;
	z-index: 15;
	height: 36px;
}

/* .header { */
/* 	top: 0px; */
/* 	left: 0px; */
/* 	right: 0px; */
/* 	position: fixed; */
/* 	width: 100%; */
/* 	height: 50px; */
/* 	z-index: 10; */
/* 	background-color: white; */
/* } */

/* .mainContent { */
/* 	padding-top: 50px; */
/* } */

/* #queryIcon { */
/* 	position: absolute; */
/* 	left: 0px; */
/* 	top: 40px; */
/* 	cursor: pointer; */
/* } */
.queryIcon img {
	max-width:100%; max-height:100%;
/* 	height:34px;width:48px; */
}
.configRequestButton{
/* 	top: 2px; */
	top: 0px; bottom: 0px;
/* 	position: absolute; */
/* 	padding: 3px 0; */
/* 	padding: auto; */
	margin: auto;
}
.queryHeader li .configRequestButton span{
	padding-top: 3px;
	padding-bottom: 3px;
}
.queryIcon {
/* 	display: inline-block; */
}
/* .queryIcon { */
/* 	 position: absolute; */
/*     top: -9999px; */
/*     bottom: -9999px; */
/*     left: -9999px; */
/*     right: -9999px; */
/*     margin: auto; */
/* } */

#loginButtons {
	position: absolute;
	top: 0px;
	right: 190px;
}
.centerize {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}
.booleanResult {
	 width: 60px;
    margin: 0 auto;
    
}
.booleanResult img {
	margin-bottom: -7px;
	margin-right: 4px;
}
.topLabel {
	display: block;
}

