
.queryHeader {
	position:fixed;
	width: 100%;
	background: white;
	z-index: 10;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    height: 44px;
}
.queryHeader li {
	float:left;
	margin-left: 6px;
	height: 27px;
	position: relative;
	
}

.configRequestButton {
	width: 150px;
	position: absolute;
	bottom: 0px;
	top: 0px;
}