html {
  cursor: text;
}

.editbox {
  margin: .4em;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: black;
}

.editbox p {
  margin: 0;
}

span.cm-sp-keyword {
  color: #92a;
}

span.cm-sp-prefixed {
  color: #f80;
}

span.cm-sp-var {
  color: #00c;
}

span.cm-sp-comment {
  color: #a70;
}

span.cm-sp-literal {
  color: #a22;
}

span.cm-sp-uri {
  color: #292;
}

span.cm-sp-operator {
  color: #088;
}

span.cm-sp-punc {
  color: #088;
}

span.cm-sp-number {
  color: #a22;
}


span.cm-sp-error {
  /* color:rgb(0,255,255); */
  /* background-color:rgb(255,0,0); */
  /* text-decoration: underline; */
  border-bottom:2px dotted red;
}