body {
	overflow: hidden;
}
/*text to show for ask queries, or message when result is empty*/
.queryResultText {
	font-weight: bold;
	color: #686772;
}

/*Codemirror CSS*/
span.CodeMirror-matchhighlight {
	background: #e9e9e9
}

.CodeMirror-focused span.CodeMirror-matchhighlight {
	background: #e7e4ff !important;
}

.CodeMirror-gutter {
	width: 37px;
}

.CodeMirror {
	border-width: 1px;
}

.cm-s-default span.cm-error {
	border-bottom: 2px dotted red;
}

/*Custom stuff for the codemirror box used for displaying raw query results*/
.resultCm {
	height: 400px;
}
.scrollCm {
	height: 400px;
}



/*Tabset Tweak*/
.tabSetContainer {
	border: 0px solid black !important;
}


/*footer*/
.footer {
	margin-top: 3px;
	border-top-style: solid;
	border-top-color: #D9D9D9;
	border-top-width: 3px;
	color: #D9D9D9;
}

.footerText {
	font-weight: bold;
	color: #686772;
	cursor: pointer;
}


/*Simple table css*/
#hor-minimalist-b {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
	margin: 20px;
}

.simpleTable {
	border: 0px solid black;
}
.simpleTable th {
	font-size: 14px;
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678b1;
	padding: 7px 5px;
}

.simpleTable td {
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 4px 6px;
	font-size: 12px;
}

.simpleTable tbody tr:hover td {
	color: #009;
}
.clickable {
	color: blue;
	cursor: pointer;
}
