<template name="tabs">

<div class="mainWindowTabset" id="tabset">
  <ul id="tabs">
<!--     <li class='addTabItm'><img id="addTab" style='width: 20px;height: 20px;'></li> -->
    <li class='addTabItm'><a id='addTab'><span>&nbsp;</span></a></li>
  </ul>
</div>

<ul id="tabContextMenu">
	<li><a href="#" id="renameTab"><img src='images/nounproject/editText.png'>Rename</a></li>
	<li><a href="#" id="copyTab"><img src='images/nounproject/copy.png'>Copy tab</a></li>
	<li>-</li>
	<li><a href="#" id="closeTab"><img src='images/nounproject/closeOne.png'>Close</a></li>
	<li><a href="#" id="closeOtherTabs"><img src='images/nounproject/closeOthers.png'>Close others</a></li>
	<li><a href="#" id="closeAllTabs"><img src='images/nounproject/closeAll.png'>Close all</a></li>

</ul>
</template>


