<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<title>Codemirror Test</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

<script src="assets/trie.js"></script>
<!-- qtip lib -->
<script src="assets/jquery.qtip.min.js?<% out.print(StaticConfig.VERSION); %>"></script>
<link rel="stylesheet" href="assets/jquery.qtip.css?<% out.print(StaticConfig.VERSION); %>">
<script src="assets/codemirror/lib/codemirror.js"></script>
<script src="assets/codemirror/mode/xml/xml.js"></script>
<link rel="stylesheet" href="assets/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="assets/codemirror/theme/yasgui.css">
<!-- Autocompletion code -->

<link rel="stylesheet" href="assets/codemirror/addon/hint/show-hint.css">
<script src="assets/codemirror/addon/hint/show-hint.js"></script>
<script src="assets/yasguiHint.js"></script>
<!-- Highlight words onclick code -->
<script src="assets/codemirror/addon/search/searchcursor.js"></script>
<script src="assets/codemirror/addon/edit/matchbrackets.js"></script>
<script src="assets/codemirror/addon/runmode/runmode.js"></script>
<script src="assets/codemirror/util/formatting.js"></script>
<script src="assets/yasgui.js"></script>
<link rel="stylesheet" href="assets/yasgui.css">
<!-- Flint code for sparql mode -->
<script src="assets/flint/sparql.js"></script>
<link rel="stylesheet" href="assets/flint/sparql.css">
<!-- Code for adding custom keycombination/mouseclick commands to codemirror -->
<script src="assets/codemirrorHelper.js"></script>
<!-- notification library -->
<script src="assets/noty/jquery.noty.js"></script>
<script src="assets/noty/layouts/bottomRight.js"></script>
<script src="assets/noty/layouts/bottomLeft.js"></script>
<script src="assets/noty/layouts/topCenter.js"></script>
<script src="assets/noty/themes/default.js"></script>

  <body>
	<div id="test2" style="background-color:red;width:30px; height: 30px;">&nbsp;</div>
	<textarea id="test" style="width:400px;height:100px;">PREFIX rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt;
PREFIX : &lt;http://aers.data2semantics.org/vocab/&gt; 
SELECT DISTINCT *
{
?patient rdfs:comment ?comment.
}
</textarea>
	<script type="text/javascript">
	var prefixes = ["aers: <bwah>", "aaebs: <sdf>", "aacbs: <sdf>", "whereeee: <sdf>", "whereeec: <sdf>"];
				var modes;
		var myCodeMirror = CodeMirror.fromTextArea(document
				.getElementById("test"), {
			lineNumbers : true,
			extraKeys : {
				"Ctrl-Space" : "autocomplete",
				"Ctrl-D" : "deleteLines",
				"Ctrl-/" : "commentLines",
				"Ctrl-Alt-Down" : "copyLineDown",
				"Ctrl-Alt-Up" : "copyLineUp",
				"Ctrl-S" : "doNothing"
			},
			onCursorActivity : function() {
				myCodeMirror.matchHighlight("CodeMirror-matchhighlight");
			},
			onChange : function(cm) {
				CodeMirror.simpleHint(cm, CodeMirror.prefixHint);
			}
			//onHighlightComplete:  function(cm) {
			//	checkSyntax(cm);
			//}
		});
		myCodeMirror.setSize("200px", "200px");
			
	</script>
	
	<script type="text/javascript">
	$('#test2').qtip({
		content:{
			text: "blaat",
			title: "title!"
		}, 
		show: {
	        //when: false, // Don't specify a show event
	        ready: true, // Show the tooltip when ready
	        event: false,
	        effect: function() { $(this).fadeIn(250); }
	    },
	    position: {
			my: 'left center',
			at: 'center right',
			target: $('#test2'), // my target
			adjust: {
				x: 10
			}
		},
	    //hide: false,
	    hide: {
			event: 'click unfocus',
	        effect: function() { $(this).fadeOut(250); }
		},
		style: { 
	  		classes: 'ui-tooltip-tipped'
		},
		
	});
	//$('.qtip').qtip('show');
	//$('.qtip').qtip('hide');
	function loadingStart(msg) {
		if ($.noty.get("blaat") == false) {
			noty({
				text: msg,
				layout: 'topCenter',
				type: 'alert',
				id: "blaat",
				closeWith: ['click'],
			});
		} else {
			$.noty.setText("blaat", msg);
		}
	}
	function loadingFinish(msg) {
		if ($.noty.get("blaat") != false) {
			$.noty.get("blaat").close();
		}
	}
	</script>
</body>
</html>
