<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>yasguiService</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.YasguiServiceImpl</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>sparqlServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.SparqlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>appcacheServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.AppCacheServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>openIdServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.openid.OpenIdServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>openIdService</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.OpenIdServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocompleteServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.AutocompleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocompletionsSaverServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.AutocompletionsSaverServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>autocompletionsInfoServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.AutocompletionsInfoServlet</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>yasguiService</servlet-name>
		<url-pattern>/Yasgui/YasguiService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>sparqlServlet</servlet-name>
		<url-pattern>/Yasgui/sparql</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>appcacheServlet</servlet-name>
		<url-pattern>/Yasgui/manifest.appcache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>openIdServlet</servlet-name>
		<url-pattern>/Yasgui/openId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>openIdService</servlet-name>
		<url-pattern>/Yasgui/OpenIdService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>autocompleteServlet</servlet-name>
		<url-pattern>/Yasgui/autocomplete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>autocompletionsSaverServlet</servlet-name>
		<url-pattern>/Yasgui/autocompleteSaver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>autocompletionsInfoServlet</servlet-name>
		<url-pattern>/Yasgui/autocompletionsInfo</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<display-name>excluded</display-name>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/config/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>No Access</web-resource-name>
			<url-pattern>/config/*</url-pattern>
			<http-method>DELETE</http-method>
			<http-method>PUT</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint />
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>


</web-app>
