<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>yasguiService</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.YasguiServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>yasguiService</servlet-name>
		<url-pattern>/Yasgui/YasguiService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sparqlServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.SparqlServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>configServlet</servlet-name>
		<url-pattern>/Yasgui/config</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>configServlet</servlet-name>
		<servlet-class>com.data2semantics.yasgui.server.servlets.ConfigServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sparqlServlet</servlet-name>
		<url-pattern>/Yasgui/sparql</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfigServlet</servlet-name>
		<display-name>ConfigServlet</display-name>
		<description></description>
		<servlet-class>com.data2semantics.yasgui.server.servlets.ConfigServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/Yasgui/junithost/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/com.data2semantics.yasgui.YasguiJUnit/junithost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>yasguiService</servlet-name>
		<url-pattern>/com.data2semantics.yasgui.YasguiJUnit/Yasgui/YasguiService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfigServlet</servlet-name>
		<url-pattern>/ConfigServlet</url-pattern>
	</servlet-mapping>
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
